@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

html {
    background: #f8f8f8 url("http://localhost/addons/assets/components/upgrademodx/images/base.png");
}

body {
    background: #27ae60;
    color: #fff;
    font-family: 'Lato', Arial, sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}

.clearfix:after {
    clear: both;
}

a {
    color: #148544;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #fff;
}

/*
.wrapper {
    text-align: center;
    vertical-align: top;
}
*/

@media screen and (max-width: 25em) {
    .container > header {
        font-size: 70%;
    }
}