@import "general.scss";

$button-gradient-outer: #1d9650;
$button-gradient-inner: #dddddd;
$inner-progress-background: #0c4d26;
$progress-button-background: #1d9650;
$progress-button-color: #ffffff;
$button-letter_spacing: 3px;

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* General styles for all types of buttons */
.progress-button {

  font-size: 24px;
  position: fixed;
  top: 315px;
  left: 450px;
  display: inline-block;
  padding: 0 60px;
  outline: none;
  border: none;
  background: $progress-button-background;
  letter-spacing: $button-letter_spacing;
  line-height: 4;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
  cursor: default;
  color: #ffffff !important;
}

.progress-button .content {
  position: relative;
  display: block;
}

/*.progress-button .content::before,
.progress-button .content::after  {
  position: absolute;
  right: 20px;
  // color: #0e7138;
  opacity: 0;
  -webkit-transition: opacity 0.9s linear 0.9s;
  transition: opacity 0.9s linear 0.9s;
  :hover {
     color:#FF0000;
  }
}*/

  span.content {
  letter-spacing: $button-letter_spacing;
  font-size: 1em;
  line-height: 4;
  font-family: 'Lato', Arial, sans-serif;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.progress-button .progress {
  background: #148544;
}

.progress-button .progress-inner {
  position: absolute;
  left: 0;
  background: $inner-progress-background// #0c4d26;
}

.progress-button[data-horizontal] .progress-inner {
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
}

/* CSS for IE */

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
  border: 3px solid darkgreen;
  overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] {
  // position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  -webkit-perspective: 900px;
  perspective: 900px;
}

.progress-button[data-perspective] .content {
  border: 3px solid darkgreen;
  padding: 0;

  background: $button-gradient-outer;
  background: linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -ms-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);

  background: -webkit-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -moz-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -o-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: linear-gradient(to bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);

  -webkit-font-smoothing: antialiased;
}

.progress-button[data-perspective] .progress-wrap {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
  outline: 1px solid rgba(0,0,0,0); /* Smoothen jagged edges in FF */
}

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
  overflow: hidden;
 //  width: 100%;
  margin: 0;
  background: $button-gradient-outer;
  background: linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -ms-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);

  background: -webkit-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -moz-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -o-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: linear-gradient(to bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  -webkit-font-smoothing: antialiased;
}

.progress-button[data-style="fill"][data-horizontal] .content {
    z-index: 10;
   -webkit-font-smoothing: antialiased;
   -webkit-transition: -webkit-transform 0.3s;
   transition: transform 0.3s;
}

/* Rotate bottom 3d */
/* ====================== */

.progress-button[data-style="rotate-angle-bottom"] .progress {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 35px;
  box-shadow: 0 -1px 0 #148544; /* fix the blurriness that causes a gap */
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.progress-button[data-style="rotate-angle-bottom"].state-loading .progress-wrap {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
}

/* lateral-lines */
/* ====================== */

.progress-button[data-style="lateral-lines"] .progress-inner {
  width: 100%;
  // border-right: 3px solid #0e7138;
  // border-left: 3px solid #0e7138;
  background: transparent;
}

.progress-button[data-style="lateral-lines"] .content::before,
.progress-button[data-style="lateral-lines"] .content::after {
  right: auto;
  left: 100%;
  margin-left: 25px;
}

.progress-button {
  width:500px;
  height:100px;
}

/* UpgradeMODX page styles */
/* ====================== */

@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic");
article, aside, audio, b, body, canvas, dd, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, img, label, li, mark, menu, nav, ol, p, section, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, u, ul, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  font-size: 100%
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, td img {
  vertical-align: top
}

button, input, select, textarea {
  margin: 0;
  font-size: 100%
}

input[type=password], input[type=text], textarea {
  padding: 0
}

input[type=checkbox] {
  vertical-align: bottom
}

input[type=radio] {
  vertical-align: text-bottom
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

html {
  overflow-y: scroll
}

body {
  color: #111;
  text-align: left;
  font: 12px 'Lato', Arial, sans-serif;
}

button, input, select, textarea {
  font-family: 'Lato', Arial, sans-serif;
}

a, a:active, a:focus, a:hover, a:visited, button, input[type=button], input[type=submit], label {
  cursor: pointer;
}



html {
  position: relative;
  background: #f8f8f8 url(base.png)
}

body {
  background: 0 0;
  font-size: 14px;
  line-height: 22px;
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
}

a {
  // color: #0f7096
}

.button, button {
  color: #fff;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
  border-radius: 8px;
  background-color: #67a749;
  text-shadow: 2px 2px 1px #0c4d26;
}

a.button {
  padding: 5px 15px
}

h1, h2, h3, h4, h5 {
  font-family: "PT Serif", helvetica, arial, sans-serif;
  line-height: 28px
}

h1 {
  font-size: 26px
}

h2 {
  font-size: 22px
}

h3 {
  font-size: 18px
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

.header {
  -moz-box-sizing: border-box;
  float: left;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  background: linear-gradient(to bottom, #fff, #f2f2f2);
  padding: 20px;
  border-bottom: 1px solid #fff
}

.header img {
  float: left;
  width: 180px;
  margin: 0 5px 0 0
}

.header h1.main-heading {
  color: #1778b6;
  font-size: 32px;
  line-height: 40px
}

.header-button-wrapper {
  float: right
}

.main-heading > span {
  display: none
}

.main-heading > sup {
  color: #ccc;
  font-weight: 400
}

.content_div {
  float: left;
  padding: 30px
}

.content_div h2 {
  margin: 0;
  line-height: 20px
}

.content_div form {
  margin: 10px 0 50px
}

.content.div form .column {
  float: left;
  box-sizing: border-box;
  width: 500px;
  margin: 20px 0
}

.column h3 {
  display: inline-block;
  padding: 0 0 5px;
  margin: 0 0 20px;
  border-bottom: 2px solid #000
}

.column label {
  float: left;
  width: 100%;
  clear: both;
  padding: 3px 0
}

form button {
  float: left;
  width: 200px;
  clear: both
}

label > span {
  border-bottom: 1px dotted #555
}

label > input {
  margin: 0 5px 0 0
}

.footer {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 10px;
  color: #ccc
}

.footer a {
  color: #aaa
}


.red {
  color: #FF0000;
}

