@import "general.scss";

$button-gradient-outer: #1d9650;
$button-gradient-inner: #dddddd;
$inner-progress-background: #0c4d26;
$progress-button-background: #1d9650;
$progress-button-color: #ffffff;
$button-letter_spacing: 3px;
$button-active-text-color: #FF0000;
$button-border-color: #0c4d26;
$h2-color: #777777;
$button-margin: 20px 0 12px 30px;
$body-font: Georgia, Times, Times New Roman, serif;
$body-color: #111111;
$sans-font: Lato, Arial, "Helvetica Neue", Helvetica, sans-serif;
$footer-color: #777777;

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* General styles for all types of buttons */
.progress-button {

  font-size: 24px;
  position: relative;
  // top: 315px;
  // left: 450px;
  // display: inline-block;
  display: block;
  padding: 0; // 0 60px;
  outline: none;
  background: $progress-button-background;
  letter-spacing: $button-letter_spacing;
  line-height: 4;

}

.progress-button[disabled],
.progress-button[disabled].state-loading {
  cursor: default;
  color: $button-active-text-color;
}

.progress-button .content {
  position: relative;
  display: block;
}

span.content {
  letter-spacing: $button-letter_spacing;
  font-size: 1em;
  line-height: 4;
  font-family: $sans-font;
}

.notransition {
  -webkit-transition: none !important;
  transition: none !important;
}

.progress-button .progress {
  background: #148544;
}

.progress-button .progress-inner {
  position: absolute;
  left: 0;
  background: $inner-progress-background// #0c4d26;
}

.progress-button[data-horizontal] .progress-inner {
  top: 0;
  width: 0;
  height: 100%;
  -webkit-transition: width 0.3s, opacity 0.3s;
  transition: width 0.3s, opacity 0.3s;
}

/* CSS for IE */

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
  border-collapse: separate;
  border:none;
  overflow: hidden;
}

.progress-button[data-style="fill"][data-horizontal] .content {
  z-index: 10;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;

}

/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] {
  margin: $button-margin;
  // position: relative;
  display: inline-block;
  padding: 0;
  background: transparent;
  -webkit-perspective: 900px;
  perspective: 900px;
}

.progress-button[data-perspective] .content {
  border: 1px solid $button-border-color;
  border-radius: 3px !important;
  padding: 0;
  width:100%;

  background: $button-gradient-outer;
  background: linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -ms-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);

  background: -webkit-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -moz-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -o-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: linear-gradient(to bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);

  -webkit-font-smoothing: antialiased;
}

.progress-button[data-perspective] .progress-wrap {
  width:100%;
  border:none;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
   outline: 1px solid rgba(0,0,0,0); /* Smoothen jagged edges in FF */
}

/* Fill horizontal */
/* ====================== */

.progress-button[data-style="fill"][data-horizontal] {
  margin: $button-margin;
  border: 1px solid #0c4d26;
  border-radius: 3px !important;
  overflow: hidden;
  background: $button-gradient-outer;
  background: linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -ms-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);

  background: -webkit-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -moz-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: -o-linear-gradient(bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  background: linear-gradient(to bottom, $button-gradient-outer, $button-gradient-inner, $button-gradient-outer);
  -webkit-font-smoothing: antialiased;
}

.progress-button[data-style="fill"][data-horizontal] .content {
    z-index: 10;
   -webkit-font-smoothing: antialiased;
   -webkit-transition: -webkit-transform 0.3s;
   transition: transform 0.3s;
}

/* Rotate bottom 3d */
/* ====================== */

.progress-button[data-style="rotate-angle-bottom"] .progress {
  position: absolute;
  top: 100%;
  left: 2px;
  width: 496px;
  outline: 1px solid $button-border-color;

  height: 35px;
  box-shadow: 0 -1px 0 #148544; /* fix the blurriness that causes a gap */
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
}

.progress-button[data-style="rotate-angle-bottom"].state-loading .progress-wrap {
  -webkit-transform: rotateX(45deg);
  transform: rotateX(45deg);
}

/* UpgradeMODX page styles */
/* ====================== */

@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,700&subset=latin,cyrillic");
article, aside, audio, b, body, canvas, dd, details, div, dl, dt, em, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, img, label, li, mark, menu, nav, ol, p, section, span, strong, summary, table, tbody, td, tfoot, th, thead, time, tr, u, ul, video {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  vertical-align: baseline;
  background: 0 0;
  font-size: 100%
}

.progress-button {
  width: 500px;
  height: 100px;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: 0 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, td img {
  vertical-align: top
}

button, input, select, textarea {

  margin: 0;
  font-size: 100%;
}

input[type=password], input[type=text], textarea {
  padding: 0
}

input[type=checkbox] {
  vertical-align: bottom
}

input[type=radio] {
  vertical-align: text-bottom;
  display:inline-block;

}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

html {
  overflow-y: scroll
}

button, input, select, textarea {
  font-family: $sans-font;
}

a, a:active, a:focus, a:hover, a:visited, button, input[type=button], input[type=submit], label {
  cursor: pointer;
}


html {
  position: relative;
  background: #f8f8f8 url(base.png)
}

body {
  font-family: $body-font;
  color: $body-color;
  background: 0 0;
  text-align:left;
  font-size: 14px;
  line-height: 22px;

}

.button, button {
  border:none;
  color: #fff;
  display: inline-block;
  padding: 15px;
  font-size: 20px;
  text-decoration: none;
  background-color: #67a749;
  text-shadow: 2px 2px 1px #0c4d26;
}

h1 {
  font-family: "PT Serif", helvetica, arial, sans-serif;
  line-height: 32px;
}

h1 {
  font-size: 26px
}

h2 {
  font-size: 32px
}

h3 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: normal;
  font-style: italic;
}

h4 {
  font-size: 16px
}

h5 {
  font-size: 14px
}

.header {
  -moz-box-sizing: border-box;
  display:block;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
  background: linear-gradient(to bottom, #fff, #f2f2f2);
  padding: 36px 0 40px 61px;
  border-bottom: 2px solid #fff
}

.header img {
  float: left;
  width: 180px;
  margin: 0 5px 0 0
}

.header h1.main-heading {
  color: #1778b6;
  font-size: 32px;
  line-height: 40px
}

.header-button-wrapper {
  float: right
}

.main-heading > span {
  display: none
}

.main-heading > sup {
  color: #ccc;
  font-weight: 400
}

.content_div {
  display:block;
  padding: 3% 0 0 8%;
}

.content_div h2 {
  margin: 0;
  line-height: 20px;
  color: $h2-color;
}

#upgrade_form {
  margin: 10px 0 50px;
  display:block;
}

#upgrade_form p {
  margin-top: 20px;
  font-size: 125%;
  width: 550px;
  line-height: 25px;
}

#upgrade_form .column {
  margin: 15px 0;
  padding-left: 37px;
  display:block;
  box-sizing: border-box;
  width: 500px;

}

.column h3 {
  display: inline-block;
  padding: 0 0 5px;
  margin: 0 0 20px;
  border-bottom: 2px solid #000
}

form button {
  display: block;
  width: 200px;
  clear: both
}

.column label {
  font-family: $sans-font;
  font-size: 140%;
  display: block;
  width: 100%;
  padding: 12px;
  outline: 2px solid palegreen;
  margin: 2px 0 0 0;
    background-color: #e5e5e5;
}


label > input {
  margin: 0 5px 5px 5px;
}

.footer {
  margin: 1% 0 3% 8%;
  display:block;
  font-size: 16px;
  color: $footer-color;
}

.footer a {
  color:#03a9f4;
  text-shadow: 1px 1px 1px #0c4d26;

}

.footer a:hover {

  text-shadow: 2px 1px 1px #0c4d26;
  color: #ffffff;
}


.red {
  color: $button-active-text-color;
}

/*************** BIG SCREENS below 1300 px ************* */
@media only screen and (max-width: 1300px) {
  .column label {
    border: 1px solid $button-border-color;
    font-size: 200% !important;
    margin: 0;
    padding: 45px 5px;
    width:160%;
  }
  label > input {
    margin: 0 5px 0 5px;
    border: 0;
    width:60px;
    height: 1em;
  }

  #upgrade_form p {
    font-size: 200% !important;
    line-height: 50px;
    margin: 20px 0 43px 30px;
  }

  input[type=radio] {
      background-color: $button-border-color;
      //display:inline-block;
      clear: left !important;
      color: #ffffff;
  }

}

/*********** BIG PHONES, TABLETS ***********/
@media only screen and (max-width: 768px) {
  .column label {
    border: 1px solid $button-border-color;
    font-size: 200% !important;
    margin: 0;
    margin-left: -84px;
    padding: 45px 5px;
    width: 600px;
    display: inline;
  }
  label > input {
    margin: 0 5px 0 5px;
    border: 0;
    width: 20px;
    height: 1em;
    display: inline;
  }

  #upgrade_form p {
    font-size: 200% !important;
    line-height: 40px;
  }
  label > input[type=checkbox] {
    background-color: $button-border-color;
    color: #ffffff;
  }

}

/************ SMALL PHONES **************/
@media only screen and (max-width: 421px) {
  .column label {
    border: 1px solid $button-border-color;
    font-size: 200% !important;
    margin: 0;
    margin-left:  -30px;
    padding: 45px 5px;
    width: 160%;
  }
  label > input {
    margin: 0 5px 0 5px;
    border: 0;
    width: 20px;
    height: 1em;
    display: inline;
    position: fixed;
    opacity: 0
  }
  #upgrade_form p {
    font-size: 200% !important;
    line-height: 50px;
  }
  label > input[type=checkbox] {
    background-color: $button-border-color;
    color: #ffffff;
  }

}